/* layout_02.css */

div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  /* la plantilla con "nombres" de 치reas */
  grid-template-areas:
    "header  header"
    "publi   contenidos"
    "barra   contenidos"
    "footer  footer";
}

/* Asociaci칩n elementos html con nombre 치reas */
header {
  grid-area: header;
}

aside {
  grid-area: publi;
}

article {
  grid-area: contenidos;
}

/* los nombres de 치rea pueden ser nombre de elementos */
nav {
  grid-area: barra;
}

footer {
  grid-area: footer;
}
