/* webfonts.css */

/* la fuente de Google se usa "directamente": 
 est치 importada en el HTML con   
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
*/
.googlefonts {
  font-family: 'Tangerine', serif;
}

/* definici칩n de una fuente en fichero */
@font-face {
  font-family: nuevaFuente;
  src: url("mona_shark/Mona Shark.otf");
}

/* uso de la fuente "nuevaFuente" (de fichero) */
.comic {
  font-family: nuevaFuente;
}

/* definici칩n de una fuente en fichero */
@font-face {
  font-family: nuevafuente;
  src: url("mona_shark/Mona\ Shark.otf");
}


/* C칩digo auxiliar */
pre {
  color: blue;
  margin-left: 10px;
}
pre strong {
  background-color: yellow;;
}

section {
  border: 1px rebeccapurple dashed;
  margin: 1em;
}