/* Desactiva todo los estilos por defecto */
/* * {
  margin: 0;
  padding: 0;
} */

h1 {
  text-align: center;
}

/* si hay dos estilos p gana la ultima */
p {
  color: blue;
}
p {
  color: violet;
}

section p {
  color: green;
}

section aside p {
  color: red;
}

/* agrupación */
/* h1 {
    text-decoration: underline;
    font-style:italic;
}
h2 {
    text-decoration: underline;
    font-style:italic;
}
h3 {
    text-decoration: underline;
    font-style:italic;
} */

/* es mejor así */
/* ya que está agrupados */

/* también se puede así h1 , h2 , h3 {
} */

h1,
h2,
h3 {
  text-decoration: underline;
  font-style: italic;
}

/* con id */
p#resumen {
  text-align: center;
}


/* descendente */

section p {
  color: brown;
}

section aside p {
  color: azure;
}

/* Selector de clase */
.novedad {
  background-color: aquamarine;
}
/* slector de clase encadenado
tiene que cumplir los selectoresc  */
p.novedad.urgente {
  color: tomato;
}
/* selector de id */
#resumen {
  text-align: center;
}

/* si es novedad o urgente */
p.novedad , p.urgente {
  color: yellow;
}