body {
    font-family: Arial;
    background-color: #f2f2f2;
}

/* Estilo general de las cajas */
.caja {
    width: 200px;
    border: 3px solid black;
    background-color: lightblue;
}

/* Ejemplo de margen */
.margen {
    margin: 40px;
}

/* Ejemplo de relleno */
.relleno {
    padding: 40px;
}