/* file: herencia. css */

section {
  color: blue;           /* se hereda */
  border: 2px solid red; /* no se hereda */
}
/* hay propiedades que se heredan y otras que no */
/* las propiedades de texto se heredan */