/* ----------------------------Selector de hijos--------------------- */


/* Se utiliza para seleccionar un elemento que es hijo directo de otro */

p > span {
    color: purple;
}

/* en el html el primero lo cumple el segundo no porque no es hijo directo hay entre medio un "a href" */



/* ---------------------------Diferencia entre selector descendente y selector de hijos------------------- */

/* selector descendente */
/* Da igual donde se encuentre a, mientras que sea hijo de p da igual donde se encuentre */

p a { 
    color: red;
}

/* Selector hijo */
/* tiene que ser hijo directo (osea después de poner "p" tiene que estar la siguiente la "a" en este caso) no puede tener nada en medio, si no no cumple */

p > a {
    color: aqua;
}

/* ------------------------------------------Selector adyacente------------------------------------------------- */

/* elemento1 y elemento2 deben ser hermanos, por lo que su elemento padre debe ser el mismo. */
/* en este caso el elemento padre de h3 y h4 es body, */


/* SOLO SE APLICA SI TIENE UN H3 DETRÁS */
h3 + h4 {
    background-color:gold;
}


/* ---------------------------------------------Selector de atributos ---------------------------------------- */

/* 

Los cuatro tipos de selectores de atributos son:
▪ [nombre_atributo], selecciona los elementos que tienen establecido el atributo
llamado nombre_atributo, independientemente de su valor.
▪ [nombre_atributo=valor], selecciona los elementos que tienen establecido un
atributo llamado nombre_atributo con un valor igual a valor.
▪ [nombre_atributo~=valor], selecciona los elementos que tienen establecido un
atributo llamado nombre_atributo y al menos uno de los valores del atributo es
valor.
▪ [nombre_atributo|=valor], selecciona los elementos que tienen establecido un
atributo llamado nombre_atributo y cuyo valor es una serie de palabras
separadas con guiones, pero que comienza con valor. Este tipo de selector sólo es
útil para los atributos de tipo lang que indican el idioma del contenido del
elemento.

*/

/* Se muestran de color azul todos los enlaces que tengan
un atributo "class", independientemente de su valor */
a[class] { 
    color: blue; 
}

/* Se muestran de color azul todos los enlaces que tengan
un atributo "class" con el valor "externo" */
a[class="externo"] {
    color: blue; 
}

/* Se muestran de color azul todos los enlaces que apunten
al sitio "http://www.ejemplo.com" */
a[href="http://www.ejemplo.com"] {
     color: blue; 
}

/* Se muestran de color azul todos los enlaces que tengan
un atributo "class" en el que al menos uno de sus valores
sea "externo" */
a[class~="externo"] {
    color: blue; 
}

/* Selecciona todos los elementos de la página cuyo atributo
"lang" sea igual a "en", es decir, todos los elementos en inglés */
*[lang=en] {
    color: chocolate;
}

/* Selecciona todos los elementos de la página cuyo atributo
"lang" empiece por "es", es decir, "es", "es-ES", "es-AR", etc. */
*[lang|="es"] {
    color : red
}


/*  --------------------------------------------------------Agrupación de reglas-------------------------------------------------- */

/* Básicammente explica que en vez de poner las reglas de estilos css en una sola línea como el siguiente ejemplo: */
h5 { color: red; }


/*

h5 { color: red; }

h5 { font-size: 2em; }

h5 { font-family: Verdana; } 

*/


/* Se puede hacer tal que así: */
h5 {
color: red;
font-size: 2em;
font-family: Verdana;
}

/* ------------------------------------------------------------Herencia--------------------------------------------------------------- */

/* Cuando se establece el valor de alguna propiedad en un elemento,
todos sus descendientes heredan inicialmente ese mismo valor. */


/* 


Si se indica por ejemplo un tipo de letra al elemento <body> de una página, todos los
elementos de la página mostrarán ese tipo de letra, salvo que se indique lo contrario:


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ejemplo de herencia de estilos</title>
<style type="text/css">
body { font-family: Arial; color: black; }
h1 { font-family: Verdana; }
p { color: red; }
</style>
</head>
<body>
<h1>Titular de la página</h1>
<p>Un párrafo de texto no muy largo.</p>
</body>
</html>



*/

/* ----------------------------------------------------------------Colisiones de estilos--------------------------------- */

/* Básicamente si hay colisiones de estilos iguales gana SIEMPRE la que está abajo o gana la más concreta, es decir la más especifica */
p.colisiones {
    color: blue;
    background-color: chartreuse;
    font-size: 4em;
}

p.colisiones {
    color: green;
    background-color: darkred;
    font-size: 2em;
}

/* Esto es un poco lioso mejor verlo en un video */
