#container > * {
  border: green double 5px;
}

#container {
  border: green double 5px;
}

@media screen and (min-width: 592px) {
  #container {
    border: none;
    background-color: yellow;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "nav    aside   "
      "header aside   "
      "article article   "
      "section section   ";
  }

  header {
    grid-area: header;
  }

  section {
    grid-area: section;
  }

  article {
    grid-area: article;
  }

  aside {
    grid-area: aside;
  }

  nav {
    grid-area: nav;
  }
}

@media screen and (min-width: 960px) {
  #container {
    background-color: lightcoral;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "aside    nav     nav"
      "aside    header  article"
      "section  section article";
  }

  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 0px;
    list-style-type: none;
    text-align: center;
    border: red 4px solid;
    margin: 0.5em;
    padding: 0.5em;
    background-color: aqua;
  }
  nav ul a {
    text-decoration: none;
    display: block;
  }
}
